/* hear starts nave-bar decoration */
@media only screen and (min-width:1000px) {
  .collapse {
    margin-left: 50%;
  }

  .d-flex {
    margin-right: 40%;

  }
}

/* nave-bar decaration ends here */
/* curocle decaration start here */
#cd_dec {
  background-color: rgba(136, 172, 172, 0.168);
  margin-top: -2%; 
}
.data{
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: left;
  margin-left: 10%;
}
.data h1{
  margin-top: 30%;
}
.data button{
  background-color: rgba(149, 103, 103, 0.269);
  border: transparent;
}
@media only screen and (max-width:400px)  {
  
  .data{
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    margin-left: 10%;
  }
  /* .data h1{
    margin-top: 30%;
  } */
  .data button{
    background-color: rgba(149, 103, 103, 0.269);
    border: transparent;
  }
}

/* corosel decoration is end  here*/
/* App fesilites decoration start here */
.Offers_dec{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 5% 10%;
 
}
.ofCart{
  margin: 5% 2%;
  padding: 1rem;
}
.Offers_dec span{
  background-color: white;
  background-color: 1px transparent;
  padding: 5px;
  border-radius: 50%;
}
.ofCart h5{
  margin-top: 10%;
}
@media only screen and (min-width:400px) and (max-width:800px){
  .Offers_dec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5% 10%;
   
  }
}
@media only screen and (max-width:400px){
  .Offers_dec{
    display: grid;
    grid-template-columns: auto;
    margin: 5% 10%;
   
  }
}
/* app advantages decoration ends here */

